body { 
    background-color: antiquewhite;

}

#l1pu {
    list-style-type: circle; 
    color: blueviolet;
}

#l2pu {
    list-style-type: circle; 
    color: aquamarine;
}

.genlistpu {

    list-style-type: none;
    color: bisque;
    text-decoration: wavy;
}